#flex {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
}

#flex > div > img {
    height: 100%;
    width: 100%;
    border: 0px solid black;
}

h1 {
    text-align: center;
}

 #parent-2 {
    display: grid;
    /* border: 1px solid #000000; */
    height: auto;
    width: 60%;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,300px);
    gap: 20px;
 }

 #parent-2 > div {
    border: 0px solid #c00;
    height: 300px;
    display: block;
    margin: 0px 0px 148px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 }

 h4,p {
    text-align: center;

 }
 h4 {
    margin: 5px;
 }

 p  {
    margin: 1px;
 }
 .img {
   border-radius: 5px 5px 0px 0px;
    width: 100%;
 }

 .logo {
    height: 48px;
    display: block;
    margin: auto;
    width: 40%;
 }

 @media all and (min-width: 321px) and (max-width: 520px) {
   #flex {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(3,1fr);
   }

   #parent-2 {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(19,300px);
   }

   #parent-2 > div {
      height: auto;
   }
 }
 
 @media all and (min-width: 521px) and (max-width: 750px)  {
   #flex {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
   }

   #parent-2 {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(10,300px);
   }
 
   #parent-2 > div {
      height: auto;
   }
}